<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a routerLink="/ingredient">Repas</a>
  <a routerLink="/gestionPrix" >Gestion de prix</a>
  <a routerLink="/benefice" >Benefice</a>
  <a routerLink="/exportPdf" routerLinkActive="active">Menue et formule repas</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="">
    <div class="row">

        <div class="col1" id="htmlData">
                Un {{repas.repas1}} necessite: 
                <ul >
                    <li>{{hamburger.pain_burger}}</li>
                    <li>{{hamburger.tomate}}</li>
                    <li>{{hamburger.oeuf}}</li>
                    <li>{{hamburger.salade}}</li>
                    <li>{{hamburger.oignon}}</li>
                    <li>{{hamburger.mortadelle}}</li>
                </ul>

                Un {{repas.repas2}} necessite: 
                <ul>
                    <li>{{frite.pomme_de_terre}}</li>
                </ul>

                Un {{repas.repas3}} necessite: 
                <ul>
                    <li>{{yaourt.lait}}</li>
                    <li>{{yaourt.sucre}}</li>
                    <li>{{yaourt.yaourt_nature}}</li>
                </ul>
                Les menues disponible sont:
                <ul *ngFor="let produit of produits">
                    <li>{{produit.nomProduit}}</li>
                </ul>
        </div>
    </div>   
</div>

  <div class="col-md-3 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
  </div>
