<div>
    <h2>Ajout vente</h2>
    <div>
      <p>
        <label for="idProduit"><span class="req">*</span> Produit:</label>
        <select name="idProduit" [(ngModel)]="vente.idProduit" required>
            <option ></option>
            <option *ngFor="let produit of produits"value="{{produit.id}}">{{produit.nomProduit}}</option>
        </select>
      </p>
      
      <p>
          quantité: <input [(ngModel)]="vente.quantite" [ngClass]="{'red_input': quantiteValide, 'default_input': !quantiteValide }" (ngModelChange)="valueHasChanged()" placeholder="quantite à vendre" required> <span *ngIf="quantiteValide" style="color: red;"> Veuillez choissir un quantité inferieur ou egale à {{ produit_trouve.nbrProduitEnVente }} </span>
      </p>   
      Le prix des objets necessaire est 10.000 ar y compris:
      <ul>
          <li>Emballage</li>
          <li>Serviette de table</li>
          <li>couvert</li>
      </ul>
    </div>
    <!-- <button (click)="save()">Save</button> -->
    <button [disabled]="quantiteValide == true" [ngClass]="{'disabled_button': quantiteValide, 'default_button': !quantiteValide }" onclick="document.getElementById('id01').style.display='block'" >vendre</button>
  </div>

  

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Validation de vente</h1>
      <p>voulez-vous vraiment valider la vente de {{vente.quantite}} produits et quitter la page</p>
    
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Non</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="validebtn" (click)="save()">Oui</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>